[project]
name = "file-transfer"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "python-dotenv>=1.1.1",
    "watchdog>=6.0.0",
]

[dependency-groups]
dev = [
    "pytest>=8.4.2",
]
